<h1 text-align="center">Welcome to the Cloud</h1>
<form>
  <div class="formGroup">
    <h3>username: </h3>
    <input type="text" [(ngModel)]="model.username" name="username" class="formControlName" placeholder="Enter your username"></div>
  <div class="formGroup">
    <h3>password: </h3>
    <input type="text" [(ngModel)]="model.password" name="password" class="formControlName" placeholder="Enter your password">
  </div>
  <div>
    <button (click)="getEmployee()">login & get</button>

  <h1>Personal Details :</h1>
  <div *ngFor="let item of data | keyvalue">
    <div *ngFor="let item of data.personalDetails | keyvalue">
       <div *ngFor="let item of data.personalDetails.personalDetail| keyvalue">
         <div *ngFor="let item of data.personalDetails.personalDetail.webPersonalDetails| keyvalue">
            {{item.key}} : {{item.value}}
        </div>
        </div>
       </div>
      </div>

</div>
</form>
